{% extends 'base.html.twig' %}

{% block body %}

    <h1>Hi and welcome to the timetable website !</h1>

    I know... It looks bad asf, but I don't have that much time you know !

    Well anyways, you can access to today's activities from <a href="{{ path('day') }}">here</a>.

{% endblock %}
